.Cards {
	padding: 20px 0px 20px;
	padding: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	.single-card {
		@include singleCard();
	}
}
.card-begin {
	h1 {
		color: $tertiary-color;
		font-size: 4em;
		font-weight: 400;
		letter-spacing: 2px;
	}
}
@media screen and (max-width: 760px) {
	.Cards {
		padding: 0;
		margin: -30px;
	}
}
@media screen and (max-width: 450px) {
	.Cards {
		margin: auto;
		justify-content: center;
	}
}
