.footer-row {
	background: $white-color;
	font-weight: 400;
	color: $black-color;
	ul {
		li {
			a {
				color: $black-color;
			}
		}
	}
}
.footer-row-2 {
	background-color: $white-color;
	color: $secondary-color;
	font-size: larger;
	.container-fluid {
		a {
			color: $secondary-color;
			font-size: 1.5em;
		}
	}
}
