.navbar {
	color: $black-color;
	form {
		margin-left: auto;
		input {
			background: transparent;
			border: none;
			border-bottom: 2px solid $tertiary-color;
			@include easeOut();
			&:hover {
				background-color: #fff6f4;;
			}
		}
		button {
			color: $black-color;
		}
		.navbar-search-button {
			border-radius: 20px;
			height: 40px;
		}
	}
	.brand {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: none;

		.nav-brand-img {
			display: inline-block;
			animation: spin-360 infinite 20s linear;
			height: 10vh;
			margin-right: 10px;
		}
	}
}

@media screen and(max-width: 760px) {
	.navbar {
		form {
			display: none;
		}
	}
}
