.Tags {
	padding: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	.single-tag {
		@include tertiaryBtn();
		background: $tertiary-color;
		font-weight: bolder;
		display: flex;
		justify-content: space-evenly;

		.icon {
			cursor: pointer;
		}
	}
}
