.Tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 50vh;
	overflow: hidden;
	.single-tag {
		position: relative;
		@include tertiaryBtn();
		color: $tertiary-color;
		font-weight: bolder;
		display: flex;
		justify-content: space-evenly;
		&:hover {
			cursor: pointer;
		}

		.icon {
			cursor: pointer;
		}
	}
}
