* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  margin: none;
  padding: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li,
ul,
ol {
  list-style: none;
}

@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.navbar {
  color: #000000;
}

.navbar form {
  margin-left: auto;
}

.navbar form input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #850d75;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.navbar form input:hover {
  background-color: #fff6f4;
}

.navbar form button {
  color: #000000;
}

.navbar form .navbar-search-button {
  border-radius: 20px;
  height: 40px;
}

.navbar .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: none;
}

.navbar .brand .nav-brand-img {
  display: inline-block;
  -webkit-animation: spin-360 infinite 20s linear;
          animation: spin-360 infinite 20s linear;
  height: 10vh;
  margin-right: 10px;
}

@media screen and (max-width: 760px) {
  .navbar form {
    display: none;
  }
}

@media screen and (min-width: 761px) {
  .search {
    display: none;
  }
}

.Tags {
  margin: 10px;
  padding: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Tags .single-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  margin: 10px;
  border: 1px solid #850d75;
  color: #f0f0f0;
  background: #850d75;
  font-weight: bolder;
}

.Tags .single-tag .icon {
  cursor: pointer;
}

.Cards {
  margin: 10px;
  padding: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Cards .single-card {
  background: #1a1449;
  margin: 10px;
  font-size: larger;
  font-weight: 400;
  width: 300px;
  min-height: 250px;
  color: #f0f0f0;
  border-radius: 30px;
  padding: 20px 10px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.Cards .single-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 5px 10px #f0f0f0;
          box-shadow: 0 5px 10px #f0f0f0;
}

.footer-row {
  background: rgba(224, 224, 224, 0.2);
  padding: 10px 0;
  color: #1a1449;
  font-weight: 400;
}

.footer-row-2 {
  background-color: #e0e0e0;
  color: #1a1449;
  font-size: larger;
}

.footer-row-2 .container-fluid a {
  color: #1a1449;
  font-size: 1.5em;
}

.blue-button {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  margin: 10px;
  border: 1px solid #e0e0e0;
  color: #e0e0e0;
}

.white-button {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  margin: 10px;
  border: 1px solid #1a1449;
  color: #1a1449;
}

.App {
  background: rgba(26, 20, 73, 0.9);
}
/*# sourceMappingURL=style.css.map */