* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  margin: none;
  padding: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li,
ul,
ol {
  list-style: none;
}

@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.navbar form {
  margin-left: auto;
}

.navbar form input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #10d876;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.navbar form input:hover {
  background-color: #fff6f4;
}

.navbar form .navbar-search-button {
  color: white !important;
  border-radius: 20px;
  height: 40px;
}

.navbar .dropdown-menu {
  background: #4285f4 !important;
}

.navbar .dropdown-menu .dropdown-item {
  color: #ffffff !important;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background: #ffffff;
  color: #4285f4 !important;
}

.navbar .navbar-nav .nav-link {
  margin-right: 5px;
  border-radius: 20%;
  font-weight: 400;
  color: white !important;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.navbar .navbar-nav .nav-link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 1px 1px 1px 1px #10d876;
          box-shadow: 1px 1px 1px 1px #10d876;
}

.navbar .navbar-nav .contribute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 30px;
  width: 130px;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-right: 5px;
  border-radius: 20%;
  font-weight: 400;
  font-size: 15px;
  color: white !important;
  text-transform: none;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.navbar .navbar-nav .contribute:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 1px 1px 1px 1px #10d876;
          box-shadow: 1px 1px 1px 1px #10d876;
}

.navbar .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: none;
}

.navbar .brand h1 {
  font-weight: 500;
  background-clip: text;
  background: -webkit-linear-gradient(yellow, red, grey, green, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .brand .nav-brand-img {
  display: inline-block;
  -webkit-animation: spin-360 infinite 20s linear;
          animation: spin-360 infinite 20s linear;
  height: 10vh;
}

@media screen and (max-width: 760px) {
  .navbar form {
    display: none;
  }
  .navbar .brand h1 {
    font-size: calc(0.5em + 5vw);
  }
}

.search {
  margin: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  width: 50vw;
}

@media screen and (min-width: 761px) {
  .search {
    display: none;
  }
}

.Tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50vh;
  overflow: hidden;
}

.Tags .single-tag {
  position: relative;
  position: relative;
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  color: #10d876;
  color: #10d876;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Tags .single-tag:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #10d876;
  color: #ffffff;
  -webkit-box-shadow: 0 0 50px #10d876;
          box-shadow: 0 0 50px #10d876;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  border-radius: 10px;
  border: none;
}

.Tags .single-tag::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #10d876;
  border-left: 2px solid #10d876;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.Tags .single-tag:hover:before {
  width: 100%;
  height: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.Tags .single-tag::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #10d876;
  border-right: 2px solid #10d876;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.Tags .single-tag:hover:after {
  width: 100%;
  height: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.Tags .single-tag:hover {
  cursor: pointer;
}

.Tags .single-tag .icon {
  cursor: pointer;
}

.Cards {
  padding: 20px 0px 20px;
  padding: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.Cards .single-card {
  background: #ffffff;
  margin: 10px;
  font-size: larger;
  font-weight: 400;
  width: 250px;
  min-height: 200px;
  color: #212121;
  border-radius: 30px;
  padding: 20px 10px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.Cards .single-card:hover {
  -webkit-box-shadow: 0 5px 10px #10d876;
          box-shadow: 0 5px 10px #10d876;
}

.card-begin h1 {
  color: #10d876;
  font-size: 4em;
  font-weight: 400;
  letter-spacing: 2px;
}

@media screen and (max-width: 760px) {
  .Cards {
    padding: 0;
    margin: -30px;
  }
}

@media screen and (max-width: 450px) {
  .Cards {
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-row {
  background: #ffffff;
  font-weight: 400;
  color: #212121;
}

.footer-row ul li a {
  color: #212121;
}

.footer-row-2 {
  background-color: #ffffff;
  color: #363636;
  font-size: larger;
}

.footer-row-2 .container-fluid a {
  color: #363636;
  font-size: 1.5em;
}

.contribute-form {
  padding: 100px 40px 39px;
}

.contribute-form .title {
  font-size: 2em;
  font-weight: 700;
  margin: 0;
  margin-bottom: 28px;
  position: relative;
  display: inline-block;
  color: #10d876;
}

.contribute-form .title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: #10d876;
}

.contribute-form form input:hover,
.contribute-form form textarea:hover {
  border: 2px solid #10d876;
}

.single-card {
  background: #ffffff;
  margin: 10px;
  font-size: larger;
  font-weight: 400;
  width: 250px;
  min-height: 200px;
  color: #212121;
  border-radius: 30px;
  padding: 20px 10px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.single-card:hover {
  -webkit-box-shadow: 0 5px 10px #10d876;
          box-shadow: 0 5px 10px #10d876;
}

.Banner {
  position: relative;
  min-height: 90vh;
  background-color: #4285f4;
  padding-top: 120px;
  color: white;
  margin-bottom: 10px;
}

.Banner .banner-line {
  position: absolute;
  bottom: 0;
  background-color: #1b6cf2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  z-index: 2;
}

.Banner h3 {
  font-weight: 400;
}

.Banner h1 {
  font-size: calc(2em + 5vw);
  font-weight: 800;
}

.Banner h4 {
  font-weight: 500;
}

.Random {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden scroll;
}

.Modal {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  background: #10d876;
}

.modal-dialog .modal-content {
  border-radius: 50px;
  background: #4285f4 !important;
  color: #ffffff;
}

.modal-dialog .modal-content input:hover {
  border: 2px solid #10d876;
}

.slide-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  min-height: 70vh;
}

.slide-cards .slide-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.tertiary-button {
  position: relative;
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  color: #10d876;
}

.tertiary-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #10d876;
  color: #ffffff;
  -webkit-box-shadow: 0 0 50px #10d876;
          box-shadow: 0 0 50px #10d876;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  border-radius: 10px;
  border: none;
}

.tertiary-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #10d876;
  border-left: 2px solid #10d876;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.tertiary-button:hover:before {
  width: 100%;
  height: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.tertiary-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #10d876;
  border-right: 2px solid #10d876;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.tertiary-button:hover:after {
  width: 100%;
  height: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.App {
  background: linear-gradient(113.61deg, #ffffff 34.8%, #4285f4 34.8%);
  min-height: 60vh;
}
/*# sourceMappingURL=style.css.map */